{% extends 'base_layout.html' %}

{% block content %}
<div class="row">
<main id="content" role="main" class="main-content small-12 columns">
<form class="site-form" action="{% url 'inputAlbum' %}" method="POST">	
	<fieldset><legend align="center">Import Album</legend><br>

	<p><b>Instructions</b></p>
	<ul>
		<li>Input the Album information into the form below</li>
		<li>'Pub date' is the date the album was published, e.g. <em>11/5/2019</em></li>
		<li>After clicking <em>"Submit"</em> you will be redirected back to the home page</li>
		<br>
		<li><b>If you want to add the artist who created the album:</b>
			<ul>
			<li>After submitting this form, click the <em>"Admin"</em> button and log in</li>
			<li>Under <em>"Catalog"</em> next to <em>"Created bys"</em> click the green <em>"+Add"</em> button</li>
			<li>Enter the corresponding Album name and Artist name</li>
			<li>Click <em>"Save"</em></li>
	<br>

	<!-- security measure --> 
	{% csrf_token %}

	<!-- key name from views.py  -->
	{{ form }}

	</fieldset>
	<br><br><input type="submit" value="Submit">
</form>
</main>
</div>			
{% endblock %}